<!--create.ejs-->
<form action="/event/" onsubmit="sendCreate(this);return false" method="POST" id="main">
    <div class="row">
        <div class="col-md-6 col-12">

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" required>
    </div>
    <div class="form-group">
            <label>Short Description</label>
            <textarea class="form-control" name="short_desc" rows="5" required></textarea>
        </div>
        <div class="form-group">
                <label>Full Description</label>
                <textarea class="form-control" name="full_desc" rows="10" required></textarea>
            </div>
    </div>
    <div class="col-md-6 col-12">
    <div class="form-group">
            <label>Image URL</label>
            <input type="text" class="form-control" name="img_url" required>
        </div>


    <div class="form-group">
            <label>Organizer</label>
            <select class="form-control" name="organizer">
                <option style="display:none;" selected>Please select an option</option>
                <% organizers.forEach(function(organizer){ %>
                    <option value="<%=organizer %>"><%=organizer %></option>
                  <% }); %>
      </select>
        </div>
   

    <div class="form-group">
        <label>Date</label>
        <input type="text" class="form-control date" name="date" required >
    </div>
    <div class="form-group">
        <label>Time</label>
        <input type="text" class="form-control" name="time" placeholder="Starting time - Ending time" required>
    </div>
    <div class="form-group">
        <label>Venue</label>
        <select class="form-control" name="venue">
                <option style="display:none;" selected>Please select an option</option>
            <% venues.forEach(function(venue){ %>
                <option value="<%= venue %>"><%= venue %></option>
                <% }); %>
        </select>
    </div>
    <div class="form-group">
        <label>Quota</label>
        <input type="number" class="form-control" name="quota" min=10 max=200 required>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="highlighted" value="Highlighted" id="HighlightedCheck">
        <label class="form-check-label pb-3" for="HighlightedCheck">Highlighted Event</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>

<script>
     async function sendCreate(elements) {
    var variables = await new FormData(elements);
    console.log(variables);
    if (!variables.get('highlighted')) data.append('highlighted', 'Not Highlighted');
var response = await fetch("/event", {
    method: "POST",
    credentials: 'same-origin',
    body: variables,
});

if (response.status == 200) {
    var message = await response.text();
    alert(message);
} else if (response.status == 401) {
    var message = await response.text();
    alert(message);
} else {
    alert(response.statusText);
}

};
</script>
